div
  h3 Angular 4 with UI-Router Seed

  img(src="assets/image.png")
  nav
    a(uiSref="home", uiSrefActive="active") Home |
    a(uiSref="about", uiSrefActive="active") About |
    a(uiSref="contact", uiSrefActive="active") Contact Us

  main
    ui-view

  footer © 2017